@charset "utf-8";
/* CSS Document */


/* Main Content Styles */

.row {
    height: calc(100% - 100px);
}

.col-md-6 {
    position: relative;
    height: -webkit-fill-available;
}

#selfie {
    width: 30em;
}

#name {
    font-size: 1.5em;
    font-weight: bold;
}

.buttonImage {
    border-width: 5px;
}

.aboutText {
    color: #9f9677;
    padding: 4em 2em;
    width: 60%;
    border-color: #008FA1;
    border-width: 5px;
    border-style: solid;
}

a {
    color: #E15427;
    transition: .5s ease;
}

a:focus, a:hover {
    color: #FFF;
    text-decoration: underline;
}

.buttonDiv {
   position: absolute;
   left: 20%;
   top: 50%;
   transform: translate(-20%, -50%);
}

.aboutText {
   position: absolute;
   left: 80%;
   top: 50%;
   transform: translate(-80%, -50%);
}

.btn {
    width: 10em;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 0;
    background-color: #E15427;
    border-width: 0;
    transition: .5s ease;
}

.btn-primary:hover, .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary, .btn-primary.focus, .btn-primary:focus {
    color: #008FA1;
    background-color: #FFF;
    border-width: 0;
}

embed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

.diamonds {
    margin-top: -1.8em;
}