html, body {
	height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #04213E;
    color: #9F9677;
	overflow-y: hidden;
}




/* Header styles */

h1 {
	color: #EFE5D1;
	font-weight: bolder;
	margin: 0 auto;
    /*
	margin-top: -.1em;
	margin-left: .1em;*/
	font-size: 5em;
    float: left;
}

.navbar-brand {
    height: auto;
    /*padding-top: .5em;
    margin-bottom: -2em;*/
}

#navbarLogo {
    height: auto;
    width: 16em;
    padding-left: 1em;
    float: left;
}

#mainNavbar {
    background-color: #04213E;
    border-width: 0; 
    position: relative;
}

#navbarLinks {
    font-size: 2em;
    font-weight: bolder;
    /*position: fixed;
    margin-top: .8em;
    right: 0;*/
    margin-right: 0;
	padding-left: 1em;
    line-height: 80px;
}

#navbarLinks a {
	padding: .15em .8em .15em 1.2em;
	color: #E15427;
	background-image: url(../assets/diamond-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    position: relative;
}

.navbarLinks2 {
	background-image: url(../assets/diamond-02.png)!important;
}

.navbarLinks3 {
	background-image: url(../assets/diamond-03.png)!important;
}

.navbarLinks4 {
	background-image: url(../assets/diamond-04.png)!important;
}

.navbarHr {
    border-color: #008FA1;
    background-color: #008FA1;
    height: 4px;    
    margin-top: 0%;
    margin-bottom: 0.5%;
    width: 99%; 
}




/* Main content styles */

#mainContent {
    width: 99%;
	min-height: 100%;
}




/* Footer styles */

.footer {
	bottom: 0;
	width: 100%;
	position: fixed;
}

.footerImage {
	height: 25px;
    width: 100%;
}



/* Responsive design styles */

