html, body {
	height: 100%;
}

body {
    font-family: 'Avenir', sans-serif;
    background-color: #04213E;
    color: #c7a96f;
	overflow-y: auto;
    height: auto;
}




/* Header styles */

h1 {
	color: #EFE5D1;
	font-weight: bolder;
	margin: 0 auto;
	font-size: 4em;
    float: left;
    cursor: pointer;
}

.navbar-header h1 {
    color: #EFE5D1;
    margin-left: 15px;
    width: 260px;
    background-image: url(../assets/diamonds-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right; 
    transition: .5s ease;
}

.navbar-header h1:hover {
    color: #FFF;
    background-image: url(../assets/diamonds-02.png);
}

.navbar-brand {
    height: auto;
}

#navbarLogo {
    height: auto;
    width: 13em;
    padding-left: 1em;
    float: left;
    transition: .5s ease;
    background-image: url(../assets/diamonds-01.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#mainNavbar {
    background-color: #04213E;
    border-width: 0; 
    line-height: 64px;
}

#navbarLinks {
    font-size: 1.8em;
    font-weight: bolder;
    margin-right: 0;
	padding-left: 1em;
    
}

#navbarLinks a {
	padding: .15em .8em .15em 1.2em;
	color: #E15427;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    transition: .5s ease;
}

.navbarLinks1 {
    background-image: url(../assets/diamond-01.png);
}

.navbarLinks2 {
	background-image: url(../assets/diamond-02.png);
}

.navbarLinks3 {
	background-image: url(../assets/diamond-03.png)!important;
}

.navbarLinks4 {
	background-image: url(../assets/diamond-04.png);
}

#navbarLinks a:hover {
    color: #FFF!important;
    background-image: url(../assets/diamond-06.png)!important;
}

.selected {
    color: #FFF!important;
    background-image: url(../assets/diamond-06.png)!important;
    pointer-events: none!important;
    opacity: .5;
}

.navbarHr {
    border-color: #008FA1;
    background-color: #008FA1;
    height: 3px;    
    margin-top: 0;
    margin-bottom: 0;
    width: 98%; 
}




/* Main content styles */

#mainContent {
    width: 100%;
    margin: auto;
	height: calc(100vh - 105px);
    top: 65px;
    position: relative;
}

h2 {
    text-align: center;
    font-weight: bolder;
    margin-top: 1em;
    margin-bottom: 1em;
    transition: .5s ease;
}

.row {
    margin: 0;
}

.contentRowOuter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.contentRowInner, .aboutContentInner {
    max-width: 1400px;
}
 
.buttonContainer::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #E20074; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.buttonContainer::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
	background-color: #111;
}

.buttonContainer::-webkit-scrollbar {
	width: 12px;
	background-color: #111;
}


.buttonDiv {
    cursor: pointer;
    width: 15em;
    min-width: 15em;
    margin: 1em 2em 5em;
    display: inline-block;
    position: relative;
    transition: .5s ease;
}

.sectionButton {
    color: #c7a96f;
    font-size: 1em;
    font-weight: 600;
    background-color: #04213E;
    padding: 0 .5em;
    overflow-wrap: break-word;
    white-space: normal;
    border-radius: 0!important;
    height: 3em;
    width: 100%;
    border: 0px; 
}

.sectionButton:hover, .sectionButton:active, .sectionButton:focus, .sectionButton:visited {
    background-color: #04213E;
    border-width: 0px;
    outline-width: 0;
    color: #c7a96f;
}

.buttonImage {
    width: 100%;
    border-color: #008FA1;
    border-width: 5px;
    border-style: solid;
    backface-visibility: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15em;
  width: 100%;
  /*opacity: 0;*/
  transition: .5s ease;
  background: rgba(0,140,186,0);
}

.text {
    color: rgba(255,255,255,0);
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 20%;
    transition: .5s ease;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-12%, -50%); /* change back to 50% for this and left if things suck */
}

.date {
    font-weight: 100;
    font-style: italic;
}

.diamonds {
    display: block;
    margin: auto;
    margin-top: -1.8em;
    position: relative;
    width: 50%;
}

.diamonds2 {
    width: 25%;
}




/* About page styles */
.aboutContentOuter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutContentInner {
    width: 100%;
    max-width: 1400px;
}

.col-md-6 {
    position: relative;
}

#selfie, .aboutText {
    width: 30em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.aboutText {
    color: #9f9677;
    padding: 1em;
}

#name {
    font-size: 1.5em;
    font-weight: bold;
}

.buttonImage {
    border-width: 5px;
}

/*
.resumeBtn {
    width: 10em;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 0;
    background-color: #E15427;
    border-width: 0;
    transition: .5s ease;
}

.btn-primary:hover, .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary, .btn-primary.focus, .btn-primary:focus {
    color: #008FA1;
    background-color: #FFF;
    border-width: 0;
}*/

embed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}




/* Footer styles */

.footer {
	bottom: 0;
	width: 100%;
	position: fixed;
}

.footerImage {
	height: 20px;
    width: 100%;
}




/* Responsive design styles */
@media (max-width: 800px) {
    
    #mainNavbar {
        line-height: 5px; 
    }
    
    h1 {
        padding-left: 15px;
    }
    
    .contentRow1 {
        margin-bottom: 0em;
    }
    
    .contentRow2 {
        margin-bottom: 3em;
    }
}
