html, body {
	height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--siteBGColor);
    color: var(--textColor);
	overflow-y: hidden;
}

#latestUpdatesList {
    padding-left: 0;
    list-style-type: none;
}

.navbar-brand {
    height: auto;
    padding-top: .5em;
    margin-bottom: -1.5em;
    padding-right: 40%;
    padding-left: 4.5%;
}

#navbarLogo {
    width: 0px;	
}

#mainNavbar {
    background-color: var(--siteBGColor);
    border-width: 0;  
}

#navbarControls {
    height: 1em!important;
    font-size: 1em;
    font-weight: bolder;
}

#navbarLinks {
    position: absolute;
    bottom: 0; 
    right: 0;
    margin-right: 0.5%;
    padding-bottom: 5px;
}

#navbarLinks a {
    padding-bottom: 0;
    padding-top: 0;
	color: var(--navbarLinksColor);
}

hr {
    border-color: var(--siteContentColor2);
    background-color: var(--siteContentColor2);
    height: 4px;    
    margin-top: 0px;
    margin-bottom: 2%;
    width: 99%; 
}

ul.nav li:not(:last-child) {
    border-right:1px solid var(--siteContentColor2);
    border-width: 3px;
    margin-right:20px;
    padding-right:20px;
}

ul.nav li a, ul.nav li a:visited {
    color: var(--textHeader2Color);
}

ul.nav a:hover { 
    color: var(--textColor) !important; 
}

ul.nav a:focus { 
    color: #fff !important; 
}

#latestUpdatesList li a, #latestUpdatesList li a:visited {
    color: var(--textColor);
}

#mainContent {
    width: 99%;
	min-height: 100%;
}

#contentRow {
	overflow:auto;
	padding-bottom:150px;
}

.contentSection .header {
    margin-left: -.077em;
    margin-bottom: -.34em;
    font-size: 2.5em;
    font-weight: bolder;
    color: var(--textColor);
}

.contentPanel {
    background-color: var(--siteContentColor);
    background-clip: content-box;
    border-color: var(--siteBGColor);
    border-radius: 0px;
	height: 30em!important;
}

.featureTitle {
    font-size: 2em;
    font-weight: bolder;
}

.featureBanner {
    align-content: center;
}

.featureInfo {
    font-size: 1em;
}
.footer {
	font-size: 0.6em;
	text-align: center;
	position: relative;
    margin-top: -160px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
}

.headerHex {
	width: 100px;
	float: right;
}