html, body {
	height: 100%;
}

body {
    font-family: lato, sans-serif;
    color: #808080;
    position: relative;
    letter-spacing: 8px;
    max-width: 1300px;
    margin: auto;
}

p, a, li {
    color: #808080;
    letter-spacing: 4px;
}



/* Header styles */

h1, h2, h3, h4 {
    text-transform: uppercase;
}

h1 {
	color: #808080;
	font-weight: 600;
    letter-spacing: 10px;
	margin: 0 auto;
    margin-left: 15px;
	font-size: 2.5em;
    float: left;
    transition: .2s ease;
}

.navbar-header {
    cursor: pointer;  
}

.navbar-brand {
    height: auto;
}

#navbarLogo {
    height: auto;
    width: 13em;
    padding-left: 1em;
    float: left;
    transition: .2s ease;
}

#mainNavbar {
    background-color: #FFF;
    border-width: 0; 
    line-height: 64px;
	z-index: 10;
	margin-bottom: 0;
	position: absolute;
    padding-top: 3em;
}

#navbarLinks {
    font-size: 1.4em;
    font-weight: 600;
    margin-right: 0;
	padding-left: 2em;
    
}

#navbarLinks a {
	padding: .15em .8em .15em 1.1em;
    text-transform: uppercase;
	color: #808080;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    transition: .2s ease;
}

.hovered {
    background-color: #FFF;
}

.dSelected {
    background-color: #FFF;
    opacity: .5;
    pointer-events: none;
}

.navbarHr {
    border-color: #008FA1;
    background-color: #008FA1;
    height: 3px;    
    margin-top: 0;
    margin-bottom: 0;
    width: 98%; 
}




/* Main content styles */

#mainContent {
    width: 100%;
    margin: auto;
	height: calc(100vh - 170px);
    top: 105px;
    position: relative;
	overflow-y: auto;
}

.heroDiv {
    height: 350px;
    display: flex;
}

.hero {
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4em;
    margin: auto;
    width: 700px;
    text-align: center;
    line-height: 3em;
}

h2 {
    text-align: center;
    font-weight: 1000;
    margin-top: 1em;
    margin-bottom: 1em;
    transition: .2s ease;
}

.row {
    margin: 0;
}

.contentRowOuter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.contentRowInner, .aboutContentInner {
    max-width: 1400px;
}
 
.buttonDiv {
    cursor: pointer;
    width: 15em;
    min-width: 15em;
    margin: 1em 2em 5em;
    display: inline-block;
    position: relative;
    transition: .2s ease;
}

.sectionButton {
    color: #c7a96f;
    font-size: 1em;
    font-weight: 1000;
    background-color: #04213E;
    padding: 0 .5em;
    overflow-wrap: break-word;
    white-space: normal;
    border-radius: 0!important;
    height: 3em;
    width: 100%;
    border: 0px; 
}

.sectionButton:hover, .sectionButton:active, .sectionButton:focus, .sectionButton:visited {
    background-color: #04213E;
    border-width: 0px;
    outline-width: 0;
    color: #c7a96f;
}

.buttonImage {
    width: 100%;
    border-color: #008FA1;
    border-width: 5px;
    border-style: solid;
    backface-visibility: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15em;
  width: 100%;
  /*opacity: 0;*/
  transition: .2s ease;
  background: rgba(0,140,186,0);
}

.text {
    color: rgba(255,255,255,0);
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 20%;
    transition: .2s ease;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-12%, -50%); /* change back to 50% for this and left if things suck */
}

.date {
    font-weight: 100;
    font-style: italic;
}

.diamondRow {
    display: flex;
    width: 50%;
    margin: auto;
    height: 20px;
}

.diamondRowInner {
    display: inherit;
}

.diamondContent {
    display: block;
    margin: 0;
    margin-top: -1.1em;
    margin-right: .85em;
    position: relative;
    border-width: 4px;
    width: 25px;
    height: 25px;
}

.diamondContentL {
    margin-top: -1.25em;
    width: 30px;
    height: 30px;
}

.selected {
    color: #FFF!important;
    opacity: .5;
    pointer-events: none;
}



/* Modal styles */
/* The Modal (background) */
.modalOverlay {
	height: 100%;
	width: 100%;
	position: fixed;
	display: none;
	pointer-events: none;
	z-index: 100;
	background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modal {
	position: absolute;
	overflow: hidden;
	top: 10%;
	right: 10%;
	bottom: 85px;
	left: 10%;
	display: block;
	border-radius: 0px;
	transform: translateY(20px);
	transition: all 0.5s;
	visibility: hidden;
}
.modal .modal-content {
	opacity: 0;
}
.modal:before {
	background-color: #04213E;
	position: absolute;
	width: 1px;
	height: 1px;
	background-color: #04213E;
	content: "";
	bottom: 10px;
	left: 50%;
	top: 95%;
	color: #fff;
	border-radius: 50%;
	-webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.modal.active {
	display: block;
	visibility: visible;
	transition: all 600ms;
	transform: translateY(0px);
	transition: all 0.5s;
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.3), 0 10px 20px 0 rgba(0,0,0,0.28);
}
.modal.active:before {
	background-color: #04213E;
	height: 2000px;
	width: 2000px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin-left: -1000px;
	margin-top: -1000px;
	display: block;
	-webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.modal.active .modal-content {
	position: relative;
	z-index: 1;
	opacity: 1;
	background-color: #04213E;
	transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.modal-content {
	background-color: #04213E;
	border: 5px solid #008FA1;
    border-radius: 0px;
	display: inline-block;
    padding: 20px;
	width: 100%;
	height: 100%;
}

.visible {
    display: block;
  }

/*
.blur-in {
    -webkit-animation: blur 2s forwards;
    -moz-animation: blur 2s forwards;
    -o-animation: blur 2s forwards;
    animation: blur 2s forwards;
}

.blur-out {
    -webkit-animation: blur-out 1s forwards;
    -moz-animation: blur-out 1s forwards;
    -o-animation: blur-out 1s forwards;
    animation: blur-out 1s forwards;
}

@-webkit-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-moz-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-o-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-webkit-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@-moz-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@-o-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}*/

.modalText {
    margin: 0em auto 1em;
    font-size: 1.6em;
    font-weight: 1000;
}

.modalRow {
    width: 100%;
    overflow: hidden;
}

.modalBlock {
    width: 100%;
    height: 100%;
    overflow-y: auto;
	text-align: left;
    scrollbar-face-color: #008FA1;
    scrollbar-shadow-color: #000;
    scrollbar-highlight-color: #000;
    scrollbar-3dlight-color: #000;
    scrollbar-darkshadow-color: #000;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
}

.modalBlock::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #008FA1; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.modalBlock::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
	background-color: #111;
}

.modalBlock::-webkit-scrollbar {
	width: 12px;
	background-color: #111;
}

/* The Close Button */
.close {
    color: #aaa;
    position: absolute;
    float: right;
    right: 25px;
    font-size: 28px;
    font-weight: 1000;
	z-index: 10;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}




/* Modal Contents styles */
.col-sm-6 {
    height: 100%;
}

.poster {
    width: 100%;
    height: auto;
    padding: 1em;
}

.screenshot {
    padding: 1em;
    width: 95%;
}

.modalHr {
    border-color: #008D9F;
    border-width: 5px;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 50%;
    width: 30em;
    margin-left: auto;
    margin-right: auto;
}

.hrIcon {
    display: block;
    margin: auto;
    margin-top: -3.1em;
    
}

h3 {
    margin-top: .2em;
    font-weight: 1000;
}
  




/* About page styles */
.aboutContentOuter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutContentInner {
    width: 100%;
    max-width: 1400px;
}

.resume {
    max-width: 900px;
}

h4 {
    font-size: 5em;
    font-weight: 1000;
    color: #EFE5D1; 
}

.resumeSubtitle {
    font-size: 3.5em;
}

.resumeHr {
    border: 3px solid #008D9F;
    margin-top: 0;
}

.resumeLink {
    color: #E15427;
    transition: .2s ease;
}

.col-sm-8 {
    padding-left: 0;
}

.pBar {
    position: relative;    
    height: auto;
    width: 1.5em;  
    background-color: #C8AA6F;
    margin-left: 11px;
    margin-right: 30px;
}

.pBar2 {
    width: 6px;
}

.pBar3 {
    width: 11px;
}

.pBar4 {
    width: 12px;
}

.pBar5 {
    width: 16px;
}

.resumeLink:hover {
    color: #EFE5D1;
    text-decoration: none;
}

.resumeQualText {
    display: flex;
}

.diamondVr {
    border-color: #C8AA6F;
    transform: rotateX(0deg) rotateZ(45deg);
    margin-top: 30px;
    position: absolute;
}

.diamondVr2 {
    margin-top: 70px;
}

.resumeText {
    color: #A09777;
    font-size: 1.3em;
}

h5 {
    color: #C8AA6F;
    font-weight: 1000;
    font-size: 2em;
}

.resumeJob {
    font-size: 1.3em;
}

.resumeEducation {
    margin-bottom: 0;
}

.resumeExp {
    margin-top: 2em;
}

/*#selfie, .aboutText {
    width: 30em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.aboutText {
    color: #9f9677;
    padding: 1em;
}

#name {
    font-size: 1.5em;
    font-weight: bold;
}

.buttonImage {
    border-width: 5px;
}*/

/*
.resumeBtn {
    width: 10em;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 0;
    background-color: #E15427;
    border-width: 0;
    transition: .2s ease;
}

.btn-primary:hover, .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary, .btn-primary.focus, .btn-primary:focus {
    color: #008FA1;
    background-color: #FFF;
    border-width: 0;
}*/

embed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}




/* Footer styles */

.footer {
	bottom: 0;
	width: 100%;
	position: fixed;
	z-index: 10;
    background-color: #f2f2f2;
}

.contactInfo {
    margin: auto;
    width: fit-content;
}

.footerLinks {
    display: inline-flex;
    list-style: none;
    padding-top: 1.5em;
    padding-bottom: 1em;
    text-transform: uppercase;
}

.footerContact { 
    margin-right: 1.5em;
    transition: .2s ease;
    font-weight: 600;
}

.footerContact:hover {
    color: #E15427;
    text-decoration: none;
    cursor: pointer;
}

.footerSlash:hover {
    color: unset;
    text-decoration: none;
    cursor: default;
}




/* Responsive design styles */
@media (max-width: 800px) {
    
    #mainNavbar {
        line-height: 5px; 
    }
    
    .navbar-header h1 {
        margin-left: 10%;
    }
    
    h2 {
        margin-top: 15px;
        margin-bottom: 10px;
    }
    
    .contentRowOuter {
        margin-bottom: 3em;
    }
    
    .buttonDiv {
        margin-bottom: 1em;
    }    
}

/* IE only styles */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .diamondRow {
        width: 100%;
        justify-content: center;
        padding-left: 1em;
    }   
}
